.devb-code-editor__container {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    border: 1px solid black;
    overflow: hidden;
    margin: 10px 0;
}

.devb-code-editor__preview-container {
    padding: 0 8px;
}

.devb-code-editor__editor-container, .devb-code-editor__preview-container {
    flex: 1;
}

.devb-code-editor__editor-container {
    min-height: 300px;
}
